html{
    width:100%;
    background-color: rgb(224, 227, 200);
    box-sizing: border-box;
    align-content: center;
}
body{
    position: relative;
    width:800px;
    margin: 5% auto;
    padding: 2%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
}
h3, p{
    font-weight:100;
}

.nav {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

a{
    text-decoration: none;
    color: black;
    padding: 0 6px;
}
.nav a:hover{
    border: solid black 1px;
    border-radius: 10px;
    padding: 0 5px;
}


.illustration{

    width: 40%;
    margin: 0 30%;
    padding: 0;

}

.details h1{
    
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 70px;
    margin: 30px 0 60px 0;
}
.details a{
    padding: 0;
    margin: 0;
}


.inviteSection{
    
    margin: 0px 0 ;

}
.inviteSection > h3{
    margin:10px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
}
sup { 
    vertical-align: super;
    font-size: xx-small;
  }


.address{
    display: flex;
    justify-content: center;
}
.address h3{
    font-weight: 300;
}
.address .adr{
    margin: 70px 60px;
}
.adr > p{
    margin: 5px 0;
}
.address *{
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.info{
    text-align: center;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.info h3{
    font-weight: 300;
}
.info h3, .info p{
    margin: 0;
}
.infoItm{
    margin:20px 30px;
    width: 30%;
    flex-grow: 1;  
}

.RSVP *{
    margin:0;
}

.rsvpBtn{
    display: inline-block;
    border: solid black 1px;
    border-radius: 10px;
    font-size: 20px;
    width: 60%;

}

@media only screen and (max-width: 1000px) {
    body{
        width: 300px;

    }
    .illustration{
        width: 60%;
        margin: 0 20%;
    }
    .details h1{
        font-size: 20px;
        margin: 0 0 20px 0;
    }

    .inviteSection > h3{
        font-size: 15px;
        margin: 5px;
    }



    .address .adr{
        margin: 30px 10px;
    }
    .infoItm{
        margin:10px 10px;
        width: 90%;
    }
    .infoItm > p{
        font-size: 15px;
    }

}